@use './reset';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #333;
    overflow: hidden;
}

//https://cdn.pixabay.com/photo/2012/09/15/02/22/forest-56930_960_720.jpg
//https://cdn.pixabay.com/photo/2019/11/23/03/08/valley-4646114_960_720.jpg
//https://cdn.pixabay.com/photo/2020/03/24/20/41/namibia-4965456_960_720.jpg\


.card{
    position: relative;
    margin: 20px 80px;
    width: 450px;
    height: 700px;
    perspective: 1000px;
}

.img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    transition: transform .8s, opacity .8s;
}

.text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8dc 74%);
    opacity: 0%;
    transition: transform .8s, opacity .8s;
}

h3{
    margin-top: 450px;
    margin-bottom: 20px;
}

.one{
    background-image: url('https://cdn.pixabay.com/photo/2012/09/15/02/22/forest-56930_960_720.jpg');
}

.two{
    background-image: url('https://cdn.pixabay.com/photo/2019/11/23/03/08/valley-4646114_960_720.jpg');
}

.three{
    background-image: url('https://cdn.pixabay.com/photo/2020/03/24/20/41/namibia-4965456_960_720.jpg');
}

.text-one{
    transform: rotateX(-180deg);
}

.text-two{
    transform: rotateY(-180deg);
}

.card:hover .text{
    transform: rotate(0);
    opacity: 100%;
}
.card:hover .one{
    transform: rotateX(180deg);
    opacity: 100%;
}
.card:hover .two{
    transform: rotateY(-180deg);
    opacity: 100%;
}
.card:hover .three{
    animation: up .8s
}
.card:hover .text-three{
    animation: down .8s
}
@keyframes up{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-60%);
    }

    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes down{
    0%{
        transform: translateY(0);
        z-index: -1;
    }

    50%{
        transform: translateY(60%);
        z-index: -1;
    }

    100%{
        z-index: 1;
    }
}